@import 'window.css';

.window {
  width: calc(100vw - 0.7rem);
  height: 30vh;
}

.window .controls li:not(.title) {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: solid 1px #1e1e2a49;
  cursor: pointer;
}

.window .controls li.title {
  font-size: 0.8rem;
  text-align: center;
  display: grid;
  width: calc(100% - 2rem);
  word-break: keep-all;
  white-space: pre;
  text-overflow: ellipsis;
}
