@import 'window.css';

.window {
  position: fixed;
  resize: both;
  z-index: 5;
  cursor: grab;
  will-change: top, left;
}

.window .controls {
  background: inherit;
  z-index: 1;
}

.window .controls li:not(.title) {
  width: calc(1.1rem - 6px);
  height: calc(1.1rem - 6px);
  margin: 2px 0;
  border-radius: 50%;
  cursor: pointer;
}

.window .controls .closing {
  border: solid 1px hsl(360, 100%, 70%);
  background: radial-gradient(
    circle,
    hsl(360, 100%, 65%) 0%,
    hsl(360, 100%, 70%) 70%,
    hsl(360, 100%, 90%) 100%
  );
}

.window .controls li.title {
  font-size: 0.8rem;
  text-align: center;
  display: grid;
  width: calc(100% - 2rem);
  word-break: keep-all;
  white-space: pre;
  text-overflow: ellipsis;
}
